/* Scss Document */
/* Scss Document */
/* Scss Document */
/* Scss Document */
@import url("https://fonts.googleapis.com/css?family=Lato");
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-100px); }
  80% { }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(100px); }
  80% { }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes vanish {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes split {}body {
  font-family: 'Lato', "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
  font-size: 1.6rem;
  line-height: 1.7;
  padding: 3rem; }

.heading-primary {
  color: #FFFFFF;
  text-trasnsform: uppercase;
  text-align: center;
  backface-visibility: hidden;
  margin-bottom: 6rem; }

.heading-primary-main {
  font-size: 7.7rem;
  font-weight: 700;
  letter-spacing: 2rem;
  display: block; }

.heading-primary-second {
  display: block;
  font-size: 2.5rem;
  font-weight: 40rem;
  letter-spacing: 2.7rem;
  animation-name: vanish;
  animation-duration: 4s; }

.text-box {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.graphic {
  float: left;
  margin-right: 1rem;
  animation-name: moveInTop;
  animation-duration: 2s; }

.design {
  animation-name: moveInBottom;
  animation-duration: 2s; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 400;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 5rem; }

.heading-tertiary {
  font-size: 2.0rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-large {
  margin-bottom: 8rem; }

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: .5rem;
  font-size: 2rem;
  letter-spacing: 1rem;
  transition: all .2s;
  width: 900px;
  animation: vanish 5s;
  position: relative; }

.btn-white {
  background-color: white;
  color: #777; }

.btn:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-3px); }

.btn:active {
  transform: translateY(1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: .5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn-white::after {
  background-color: white; }

.btn:hover::after {
  transform: scaleX(1.2) scaleY(1.2);
  opacity: 0; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #55c57a;
  color: white;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.composition {
  position: relative; }
  .composition_photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s; }
    .composition_photo--p1 {
      left: 0;
      top: -2rem; }
    .composition_photo--p2 {
      right: 0;
      top: 2rem; }
    .composition_photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition_photo:hover {
      outline: 1.5rem solid #55c57a;
      transform: scale(1.05);
      transform: translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition_photo:not(:hover) {
    transform: scale(0.9); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
  .feature-box_icon {
    font-size: 6rem;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent; }

.header {
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.7), rgba(40, 180, 133, 0.7)), url("DSC01322.JPG");
  background-size: cover;
  background-position: center;
  height: 95vh;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
  position: relative; }

.row {
  max-width: 170rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 *((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2*((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3*((100% - 3 * 6rem) / 4) +2*6rem); }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.7), rgba(40, 180, 133, 0.7)), url("DSC01322.JPG");
  background-size: cover; }

/* CSS Document */
